/* -- общие стили -- */

*, *:after, *:before {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  transition: .5s ease-in-out;
  /* плавность переходов для всех элементов страницы */
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
  outline: none;
}

img {
  display: block;
  width: 100%;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Playfair Display';
  font-weight: normal;
  letter-spacing: 1px;
}

body {
  font-family: 'Open Sans', arial, sans-serif;
  font-size: 14px;
  line-height: 1;
  color: #373737;
  background: #f7f7f7;
}

/* очистка потока для всех контейнеров, внутри которых задано обтекание дочерних элементов */
header:after,
.container:after,
footer:after,
.widget-posts-list li:after,
#subscribe:after {
  content: '';
  display: table;
  clear: both;
}

/* стилевой класс, который управляет шириной контейнера сетки */
.container {
  margin: 0 auto;
  width: 100%;
  max-width: 960px;
  padding: 0 15px;
}

/* -- стили для шапки -- */

header {
  width: 100%;
  background: white;
  box-shadow: 3px 3px 1px rgba(0, 0, 0, .05);
  padding: 15px 0;
  margin-bottom: 30px;
  position: relative;
}

/* логотип */
.logo {
  display: block;
  float: left;
}

.logo span {
  color: white;
  display: inline-block;
  width: 30px;
  height: 30px;
  line-height: 30px;
  border-radius: 50%;
  margin: 5px 0;
  text-align: center;
  text-shadow: 2px 2px 1px rgba(0, 0, 0, .4);
}

.logo span:nth-child(odd) {
  background: #EF5A42;
}

.logo span:nth-child(even) {
  background: #F8B763;
}

/* меню */
#menu {
  float: right; /* расположили весь блок справа*/
}

#menu li {
  display: inline-block; /* распределили элементы по всему блоку */
  margin-right: 30px;
}

#menu a {
  color: #111;
  font-weight: 600;
  text-transform: uppercase; /* все буквы заглавные */
  letter-spacing: 1px; /* расстояние между буквами */
  display: block;
  line-height: 40px;
}

#menu a:hover {
  color: #EF5A42;
}

#menu li:last-child {
  margin-right: 0;
}

/* форма поиска */
#searchform {
  float: right;
  margin-left: 46px;
  /*display: inline-block;*/
  position: relative;
}

#searchform input {
  width: 170px;
  height: 40px;
  float: left;
  color: #9E9C9C;
  font-style: italic;

  padding-left: 10px;
  overflow: hidden;
  outline: none;
  border: none;
}

#searchform button {
  color: #EF5A42;
  font-size: 18px;
  height: 40px;
  background: transparent; 

  position: absolute;
  right: 10px;
  
  cursor: pointer;
  border: none;
}

#searchform input:focus {
  outline: 2px solid #EBEBE3;
}

/* -- стили для основного содержимого (посты) -- */

/* левый контейнер */
.posts-list {
  float: left;
  margin-bottom: 30px;
  width: 64%;
}

/* отдельный пост (статья и пр.) */
.post {
  margin-bottom: 35px;
}

.post-image {
  margin-bottom: 30px;
}

.category {
  margin-bottom: 15px;
}

.category a {
  color: #F8B763;
  text-transform: uppercase;
}

.post-title {
  margin-bottom: 12px;
  font-size: 26px;
}

.post-content p {
  line-height: 1.5;
  padding-bottom: 1em;
}

/* блок с кнопкой "продолжить чтение" и кнопками социальных сетей */
.post-footer {
  margin-top: 15px;
  position: relative;
  border-top: 1px solid #EBEBE3; /* линия над кнопками */
  border-bottom: 1px solid #EBEBE3; /* линия под кнопками */
}

.more-link {
  background: #3C3D41;
  color: white;
  text-transform: uppercase;
  font-size: 10px;
  letter-spacing: 0.1em;
  white-space: nowrap;

  position: relative;
  display: inline-block;

  line-height: 44px;
  padding: 0 22px;
}

.post-social {
  font-size: 12px;
  position: absolute;
  left: auto;
  right: 0;
  top: 50%;
  padding: 0;
  text-align: right;
  transform: translateY(-50%);
}

.post-social a {
  color: #F8B763;
  width: 25px;
  height: 25px;
  line-height: 23px;
  text-align: center;

  border: 1px solid;
  border-radius: 50%;

  display: inline-block;
  margin-left: 8px;
}
